[Unit]
Description=MCTNode
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/MCTNode/Node
WorkingDirectory=/opt/MCTNode

[Install]
WantedBy=multi-user.target
